<!DOCTYPE html>
<html>
<head>
  <title>CrysTOEFL</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", :media => "all" %>
  
  <%= csrf_meta_tags %>
</head>
<body data-twttr-rendered="true">
  <div class="container">
    <div class="demo-headline">
      <h1 class="demo-logo">
        <div class="logo"></div>
        CrysTOEFL
      </h1>
      <%= form_tag("/articles/search", :method => "get", :class => "form-search") do %>
        <%= text_field_tag(:q, nil, :class => "input-medium search-query", :placeholder => "Keyword") %>
        <%= text_field_tag(:page, 1, :style => "display:none") %>
        <%= submit_tag("Search", :class => "btn") %>
      <% end %>
      </div>
  <div class="row">
    <div class="span4">
      <div class="todo mrm" data-spy="affix" data-offset-top="490">
        <div class="todo-search">
          <input class="todo-search-field" type="search" value="" placeholder="Category List">
        </div>
        <ul>
          <li id="1" class="">
            <div class="todo-icon"><i class="icon-time"></i></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Archaeology & History
              </h4>
            </div>
          </li>

          <li id="2" class="">
            <div class="todo-icon"><i class="icon-leaf"></i></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Biology & Ecology
              </h4>
            </div>
          </li>

          <li id="3" class="">
            <div class="todo-icon"><i class="icon-cog"></i></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Applied Science
              </h4>
            </div>
          </li>

          <li id="4" class="">
            <div class="todo-icon"><i class="icon-globe"></i></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Theoretical Science
              </h4>
            </div>
          </li>

          <li id="5" class="">
            <div class="todo-icon"><i class="icon-group"></i></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Social Science
              </h4>
            </div>
          </li>
          <li id="6" class="">
            <div class="todo-icon"><i class="icon-pencil"></i></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Literiture & Art
              </h4>
            </div>
          </li>
        </ul>
      </div>
    </div> <!-- /todo list -->

    <div id="article_container" class="span8 pull-right">
      <div pager="1">
      <%= yield %>
      </div>
      <div pager="2"></div>
    </div> <!-- /content -->
  </div>  
  </div>
  </body>
<%= javascript_include_tag "application" %>
</html>
